data/images/
data/labels/
data/*.cache
data/labels/*.cache
data/output_stream/
data/uploads/*
!data/uploads/.gitkeep
data/augmented/
runs/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
.env
.vscode/
.idea/
Thumbs.db
.DS_Store

